VITE_ORCHESTRATOR_URL=http://localhost:8000
VITE_COLLECTOR_WS=ws://localhost:8003/stream
# Map style: CARTO Dark Matter (free, no key) by default; swap for the AWS Location map style URL when USE_AWS=1
VITE_MAP_STYLE=https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json
